body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.burger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

.selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10%;
  flex-wrap: wrap;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90%;
}

button,
select {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  z-index: 10;
}

#custom-time {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  z-index: 10;
}

#map {
  width: 100%;
  z-index: 1;
  flex: 70%;
}

#places-container {
  width: 100%;
  flex: 30%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-top: 1px solid #ccc;
}

#places {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-box {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-box p {
  margin: 5px 0;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .selector {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .burger-menu {
    display: block;
  }

  .presentation {
    flex-direction: column;
  }

  #map {
    height: 50%;
  }

  #places-container {
    height: 50%;
  }
}
